*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage
/vendor
load-test/load-test/results
load-test/__pycache__
venv
TODO
Homestead.json
Homestead.yaml
Thumbs.db
